body {
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.stopka {
    color: purple;
    font-size: 12px;
    text-align: center;
}

.link_lista {
    text-align: center;
}
ul {
    list-style-type: none;
    text-align: left;
}

.title {
    color: green;
    font-size: 60px;
    background-color: #F5FFFA;
}

.clockStyle {
    background-color: black;
    border: #999 2px inset;
    padding: 6px;
    color: #0FF;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline;
}
