{% extends 'base.html' %}

{% block title %}Chata proroka{% endblock %}

{% block content %}
    <h1>Chata proroka</h1>
    <p>Tutaj odkrywasz nowe technologie.</p>
    <center>
    {% if user.is_authenticated %}
        <table border="1" width="600px" style="text-align: center">
            <tr>
                <td>
                    <img src="http://vignette2.wikia.nocookie.net/civilization/images/3/3d/Trapping_(Civ5).png/revision/latest?cb=20101022183302">
                    <h2>Zastawienie sideł</h2>
                    <p>Zwiększa przychody złota.</p>
                </td>
                <td>
                    <h2>{{ gracz.sidla }}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="http://vignette2.wikia.nocookie.net/civilization/images/c/ce/Iron_working_(Civ5).png/revision/latest?cb=20101022183022">
                    <h2>Łupienie pobliskich wiosek</h2>
                    <p>Zwiększa przychody złota.</p>
                </td>
                <td>
                    <h2>{{ gracz.lupienie }}</h2>
                </td>
            </tr>
        </table>
    {% endif %}
    </center>

    <p><a href="/widok_miasta/">Wróć</a></p>
{% endblock %}